Buoi3/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Định nghĩa kiểu cho sanpham -->
    <xs:complexType name="sanphamType">
        <xs:sequence>
            <xs:element name="ten" type="xs:string" />
            <xs:element name="soluong" type="xs:positiveInteger" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Định nghĩa kiểu cho donhang -->
    <xs:complexType name="donhangType">
        <xs:sequence>
            <xs:element name="sanpham" type="sanphamType" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required" />

    </xs:complexType>

    <!-- Định nghĩa phần tử gốc ds_donhang -->
    <xs:element name="ds_donhang">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="donhang" type="donhangType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>

        <xs:unique name="uniqueDonHangID">
            <xs:selector xpath="donhang" />
            <xs:field xpath="@id" />
        </xs:unique>

        <xs:unique name="uniqueSanPhamID">
            <xs:selector xpath="sanpham" />
            <xs:field xpath="@id" />
        </xs:unique>
        
    </xs:element>


</xs:schema>