dssv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="MaType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TenKhoaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]+" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="150" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SdtType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{8}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="DSSV">
        <xs:complexType>
            <xs:sequence>

                <!-- Danh sách sinh viên -->
                <xs:element name="SINHVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSSV" type="MaType" />
                            <xs:element name="HOTEN" type="TenType" />
                            <xs:element name="EMAIL" type="EmailType" />
                            <xs:element name="DIACHI" type="xs:string" />
                            <xs:element name="SDT" type="SdtType" />
                            <xs:element name="MALOP" type="MaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <!-- Danh sách lớp -->
                <xs:element name="LOP">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MALOP" type="MaType" />
                            <xs:element name="TEN" type="xs:string" />
                            <xs:element name="MAKHOA" type="MaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <!-- Danh sách khoa -->
                <xs:element name="KHOA">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MAKHOA" type="MaType" />
                            <xs:element name="TEN" type="TenKhoaType" />
                        </xs:sequence>
                    </xs:complexType>

                </xs:element>


            </xs:sequence>
        </xs:complexType>


        <xs:key name="PK_SINHVIEN">
            <xs:selector xpath="SINHVIEN" />
            <xs:field xpath="MSSV" />
        </xs:key>

        <xs:key name="PK_LOP">
            <xs:selector xpath="LOP" />
            <xs:field xpath="MALOP" />
        </xs:key>

        <xs:key name="PK_KHOA">
            <xs:selector xpath="KHOA" />
            <xs:field xpath="MAKHOA" />
        </xs:key>

        <xs:keyref name="FK_SINHVIEN_LOP" refer="PK_LOP">
            <xs:selector xpath="SINHVIEN" />
            <xs:field xpath="MALOP" />
        </xs:keyref>

        <xs:keyref name="FK_LOP_KHOA" refer="PK_KHOA">
            <xs:selector xpath="KHOA" />
            <xs:field xpath="MAKHOA" />
        </xs:keyref>

    </xs:element>

</xs:schema>