quanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/quanan"
    xmlns="http://example.com/quanan"
    elementFormDefault="qualified">

    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BAN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MABAN" type="xs:integer" />
                            <xs:element name="TENBAN">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="NHANVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MANV">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TENNV">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="SDT">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DIACHI" type="xs:string" />
                            <xs:element name="GIOITINH">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="5" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="USERNAME">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="6" />
                                        <xs:maxLength value="50" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="PASSWORD">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="10" />
                                        <xs:maxLength value="50" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="MON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MAMON">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TENMON">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="GIA" type="xs:float" />
                            <xs:element name="HINHANH" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="HOADON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOHD" type="xs:integer" />
                            <xs:element name="NGAYLAP" type="xs:date" />
                            <xs:element name="TONGTIEN" type="xs:float" />
                            <xs:element name="MABAN" type="xs:integer" />
                            <xs:element name="MANV" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="CHITIETHOADON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOHD" type="xs:integer" />
                            <xs:element name="MAMON" type="xs:string" />
                            <xs:element name="SOLUONG" type="xs:integer" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="BanKey">
            <xs:selector xpath="BAN" />
            <xs:field xpath="MABAN" />
        </xs:key>
        <xs:key name="NhanVienKey">
            <xs:selector xpath="NHANVIEN" />
            <xs:field xpath="MANV" />
        </xs:key>
        <xs:key name="MonKey">
            <xs:selector xpath="MON" />
            <xs:field xpath="MAMON" />
        </xs:key>
        <xs:key name="HoaDonKey">
            <xs:selector xpath="HOADON" />
            <xs:field xpath="SOHD" />
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="HoaDon_Ban_FK" refer="BanKey">
            <xs:selector xpath="HOADON" />
            <xs:field xpath="MABAN" />
        </xs:keyref>
        <xs:keyref name="HoaDon_NV_FK" refer="NhanVienKey">
            <xs:selector xpath="HOADON" />
            <xs:field xpath="MANV" />
        </xs:keyref>
        <xs:keyref name="CTHD_HD_FK" refer="HoaDonKey">
            <xs:selector xpath="CHITIETHOADON" />
            <xs:field xpath="SOHD" />
        </xs:keyref>
        <xs:keyref name="CTHD_Mon_FK" refer="MonKey">
            <xs:selector xpath="CHITIETHOADON" />
            <xs:field xpath="MAMON" />
        </xs:keyref>
    </xs:element>
</xs:schema>